<div class="sidebar">
    <div class="logo_details">
      <i class="bx bxl-audible icon"></i>
      <div class="logo_name">gestion de portefeuille</div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
{#      <li>#}
{#        <i class="bx bx-search"></i>#}
{#        <input type="text" placeholder="Search...">#}
{#         <span class="tooltip">Search</span>#}
{#      </li>#}
      <li>
        <a href="/">
          <i class="bx bx-grid-alt"></i>
          <span class="link_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="/optimisation">
          <i class="bx bx-compass"></i>
          <span class="link_name">Optimisation</span>
        </a>
        <span class="tooltip">Optimisation</span>
      </li>
      <li>
        <a href="/historique">
          <i class="bx bx-layer"></i>
          <span class="link_name">Historique</span>
        </a>
        <span class="tooltip">Historique</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-cog"></i>
          <span class="link_name">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
      <li class="profile">
        <div class="profile_details">
          <img src="../../static/img/pic.png" alt="profile image">
          <div class="profile_content">
            <div class="name">Anna Jhon</div>
            <div class="designation">Admin</div>
          </div>
        </div>
        <i class="bx bx-log-out" id="log_out"></i>
      </li>
    </ul>
  </div>