{% extends'base.html' %}
{% block title %}
Home page
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/multisteps.css')}}">
{% endblock %}
{% block body %}
  <section class="home-section">
    <div class="text">Dashboard index</div>
    <div class="content">
      <div class="content__inner">
        <div class="container overflow-hidden">
          <div class="multisteps-form">
            <div class="row">
              <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                <div class="multisteps-form__progress">
                  <button class="multisteps-form__progress-btn js-active" type="button" title="User Info">Step 1</button>
                  <button class="multisteps-form__progress-btn" type="button" title="Address">Step 2</button>
                  <button class="multisteps-form__progress-btn" type="button" title="Message">Step 3</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-8 m-auto">
                <form class="multisteps-form__form">
                  <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                    <h3 class="multisteps-form__title">Your User Info</h3>
                    <div class="multisteps-form__content">
                      <div class="form-row mt-4">
                        <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                            <label for="sector">Select a sector:</label>
                            <form action="/" method="POST">
                                <!-- Add the dropdown list with onchange event -->
                                <select id="sector-dropdown" name="sector" onchange="handleSectorChange()">
                                    {% for sector in sectors %}
                                        <option onchange="" value="{{ sector }}" >{{ sector }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                      </div>
                      <div class="form-row mt-4">
                        <h4>Clusters</h4>
                              <table class="table" id="cluster-table">
                                  <thead>
                                      <tr>
                                          <th scope="col">Cluster</th>
                                          <th scope="col">Stocks</th>
                                      </tr>
                                  </thead>
                                  {% if clusters %}
                                      {% for cluster, stocks in clusters.items() %}
                                      <tr>
                                          <th scope="row">{{ cluster }}</th>
                                          <td>{{ stocks|join(', ') }}</td>
                                      </tr>
                                      {% endfor %}
                                  {% endif %}
                              </table>
                          <br>
                          <img src="../pic.png" alt="Cluster Plot">
                        </div>
                        <div class="form-row mt-4">
                            <h4>K-Means</h4>
                            <img src="../pic.png">
                      </div>
                      <div class="button-row d-flex mt-4">
                        <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                      </div>
                    </div>
                  </div>
                                    <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                    <h3 class="multisteps-form__title">Your Address</h3>
                    <div class="multisteps-form__content">
                      <div class="form-row mt-4">
                        <div class="col">
                          <input class="multisteps-form__input form-control" type="text" placeholder="Address 1"/>
                        </div>
                      </div>
                      <div class="form-row mt-4">
                        <div class="col">
                          <input class="multisteps-form__input form-control" type="text" placeholder="Address 2"/>
                        </div>
                      </div>
                      <div class="form-row mt-4">
                        <div class="col-12 col-sm-6">
                          <input class="multisteps-form__input form-control" type="text" placeholder="City"/>
                        </div>
                        <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                          <select class="multisteps-form__select form-control">
                            <option selected="selected">State...</option>
                            <option>...</option>
                          </select>
                        </div>
                        <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                          <input class="multisteps-form__input form-control" type="text" placeholder="Zip"/>
                        </div>
                          <div class="col-6 col-sm-3 mt-4 mt-sm-0">
                              <img src="../pic.png">
                          </div>
                      </div>
                      <div class="button-row d-flex mt-4">
                        <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
                        <button class="btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button>
                      </div>
                    </div>
                  </div>
                  <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                    <h3 class="multisteps-form__title">Additional Message</h3>
                    <div class="multisteps-form__content">
                      <div class="form-row mt-4">
                        <textarea class="multisteps-form__textarea form-control" placeholder="Additional Message and Questions"></textarea>
                      </div>
                      <div class="button-row d-flex mt-4">
                        <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button>
{#                        <button class="btn btn-success ml-auto" type="submit" title="Send">Send</button>#}
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    {% block scripts %}
        {{super()}}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    function handleSectorChange(){
        $(document).ready(function() {
            // Handle the onchange event of the dropdown list
            $('#sector-dropdown').change(function () {
                var selectedSector = $(this).val();

                // Send an AJAX request to the server
                $.ajax({
                    url: '/',
                    type: 'POST',
                    data: {
                        sector: selectedSector
                    },
                    success: function (response) {
                        // Handle the response from the server
                        updateTable(response);
                    },
                    error: function (xhr, status, error) {
                        // Handle any errors that occur during the AJAX request
                        console.log(error);
                    }
                });
            });
        });
    }

            function updateTable(clusters) {
                var tableBody = $('#cluster-table tbody');
                tableBody.empty();

                // Iterate over the clusters object and add rows to the table
                for (var cluster in clusters) {
                    var stocks = clusters[cluster];
                    var row = $('<tr>');
                    row.append($('<th>').text(cluster));
                    row.append($('<td>').text(stocks.join(', ')));
                    tableBody.append(row);
                }
            }
    </script>
        <script  src="../static/js/function.js"></script>
    {% endblock %}
{% endblock %}
